@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
	background-color:  #02010a;
	font-family: 'Dancing Script';
}

header{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2{
	color: white;
	text-shadow: 2px 2px #02010a;
	padding-left: .75em;
}
a{
	color: white;
	padding: .75em;
	font-size: 1.3em;
}
a.active{
	text-decoration: none;
}
#imgcentral{
	background-color: #82c3a6;	
	text-align: center;
}
#imgsecundarias{
	background-color: #d5c75f;
	border: solid 1px #baad51;
	display: flex;
	flex-wrap: wrap;
}
footer{
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
	overflow: hidden;
	padding-bottom: 2em;
}
img{
	box-shadow: #02010a 2px 2px;
}
#contenido{
	max-width: 900px;
	margin: 0 auto;
	animation: slidein 1s;
}
#imgcentral img{
	width: 90%;
	margin: 10px 0;
}
#imgsecundarias .dos{
	position: relative;
	width: 50%;
	text-align: center;
}
#imgsecundarias .tres{
	position: relative;
	width: 33.333%;
	text-align: center;
}
#imgsecundarias img{
	width: 90%;
	margin: 10px 0px;
}
footer div{	
	box-sizing: border-box;
	float:left;
	width: 25%;
	padding-left: 2em;
}
#img1:hover{
	transition: transform .8s;
	transform: rotate(10deg);
	box-shadow: #82c3a6 2px 2px;
	border: solid 2px;
}
#img2:hover{
	transition: transform .8s;
	transform: translate(20px,-5px);
	box-shadow: #82c3a6 2px 2px;
	border: solid 2px;	
}
#img11{
	filter:  blur(10px);
}
#img12,#img14,#img16{
	filter: grayscale(100%);
}
#img13{
	filter: sepia(90%);
}
@keyframes slidein{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}
@media(max-width:900px) {
	#imgsecundarias .dos, #imgsecundarias .tres{
		width: 100%;
	}
	footer div{
	width: 100%;
	}
	header{
		flex-direction: column;
		padding-bottom: 1em;
	}
}